/data
/vendor
/dist
/themes/aklump/fonts/ibm-plex/*
!/themes/aklump/fonts/ibm-plex/IBMPlexSerif-Regular.otf
/themes/aklump/fonts/libre-baskerville/*
!/themes/aklump/fonts/libre-baskerville/LibreBaskerville-Regular.otf

/lib/loft_php_lib/*
!/lib/loft_php_lib/dist
/lib/loft_php_lib/dist/vendor
/lib/loft_php_lib/dist/*
!/lib/loft_php_lib/dist/src
/lib/loft_php_lib/dist/src/*
!/lib/loft_php_lib/dist/src/AKlump
/lib/loft_php_lib/dist/src/AKlump/*
!/lib/loft_php_lib/dist/src/AKlump/LoftLib
/lib/loft_php_lib/dist/src/AKlump/LoftLib/*
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Component
/lib/loft_php_lib/dist/src/AKlump/LoftLib/Component/*
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Component/Storage
/lib/loft_php_lib/dist/src/AKlump/LoftLib/Component/Storage/*
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Component/Storage/FilePath*
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Component/Bash
/lib/loft_php_lib/dist/src/AKlump/LoftLib/Component/Bash/*
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Component/Bash/Color.php
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Xml
/lib/loft_php_lib/dist/src/AKlump/LoftLib/Xml/*
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Xml/LoftXmlElement.php
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Component/Bash/Bash.php
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Code
/lib/loft_php_lib/dist/src/AKlump/LoftLib/Code/*
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Code/Dates.php
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Code/ThrowableErrorsTrait.php
!/lib/loft_php_lib/dist/src/AKlump/LoftLib/Code/ObjectCacheTrait.php

