html {
  font-size: 16px;
  background-color: $color--desktop;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Copy, "Times New Roman", serif;
  &.media--print {
    font-size: 13px;
    background-color: $color--bg--print;
  }
}

p {
  margin: 0;
}

body {
  width: 90%;
  max-width: inches-to-px(8.5);
  color: $color--fg;
  background-color: $color--bg;
  margin: $gap__fixed--v * 2 auto $gap__fixed--v * 3;
  padding: $gap__fixed--v--tall $gap__fixed--h--wide;
  .media--print & {
    margin: 0 auto;
    background-color: $color--bg--print;
    color: $color--fg--print;
    padding: 0;
  }
}

h1, h2 {
  margin: 0;
  //font-family: Antonio, sans-serif;
  font-family: "Headings", sans-serif;
}

a {
  padding: 0 $gap__fixed--h--narrow;
  color: $color--accent;
  .media--print & {
    color: $color--accent--print;
  }
  text-decoration: none;
}

ul, ol {
  margin: 0;
}

.media--print {
  html {
    font-size: inches-to-px(.125);
    width: inches-to-px(7.25);
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

strong {
  color: $color--accent;
  .media--print & {
    color: $color--accent--print;
  }
}

