// The color of the desktop of the web version.
$color--desktop: #222;

// Colors for the web version.
$color--bg: #1d3f72;
$color--fg: #ddd;
$color--accent: #71c2cc;
$color--accent2: #5699d2;

// Colors for the print version.
$color--bg--print: #fff;
$color--fg--print: #000;
$color--accent--print: #cc0000;
$color--accent2--print: #cc0000;


$color--bg: #fefefe;
$color--fg: #000;
$color--accent: #cc0000;
$color--accent2: #cc0000;

