
@font-face {
  font-family: "Headings";
  src: url("fonts/libre-baskerville/LibreBaskerville-Regular.otf");
}

@font-face {
  font-family: "Copy";
  src: url("fonts/ibm-plex/IBMPlexSerif-Regular.otf");
}

