$gap__fixed--v--short: .5rem;
$gap__fixed--v: 1rem;
$gap__fixed--v--tall: 2rem;

$gap__fixed--h--narrow: .5rem;
$gap__fixed--h: 1rem;
$gap__fixed--h--wide: 2.5rem;

$font--larger: 1.25rem;

$indent: $gap__fixed--h--wide / 2;
