//
// Convert pixels to inches
//
// @param float $inches
//
// @return float The value in pixels.
//
@function inches-to-px($inches) {
  @return ($inches * $inches_to_px_dpi) * 1px;
}

//
//
// Remove list style
//
@mixin no-list {
  list-style: none;
  padding-left: 0;
}

//
//
// Style a no-bullets list.
//
@mixin list {
  @include no-list;
  li {
    display: block;
    margin-bottom: $gap__fixed--v--short;
    line-height: 1.4;
  }
}

//
//
// Style a bulletted list
//
@mixin list-bullets {
  @include no-list;
  text-indent: -1.2em;
  padding: .5em 1.2em 1.2em;
  li {
    margin-bottom: $gap__fixed--v;
    margin-left: 1.2em;
    display: block;
    &:before {
      margin-left: 1.2em;
      display: inline-block;
      content: "\2301";
      letter-spacing: .25em;
    }
  }
}
