.contact {
  text-align: center;
  margin-bottom: $gap__fixed--v;
}

.contact__info {
  .media--print & {
    font-size: $font--larger;
  }
}

.contact__name {
  color: $color--accent;
  .media--print & {
    color: $color--accent--print;
  }
}

.contact__address {
  margin-right: $gap__fixed--h;
}

.contact__phone {
  margin-right: $gap__fixed--h;
}

.contact__email {
  margin-right: $gap__fixed--h;
}

.contact__links {
  margin-top: 5px;
  .media--print & {
    //color: $color--accent--print;
  }
}
